body {
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color:rgb(170, 16, 16);
    padding: 30px;
    margin: 10px;
    text-align: center;
}
main {
    background-color: rgb(135, 250, 240);
}
footer {
    background-color: rgb(214, 209, 203);
    border-width: 5px;
    border-color: red;
    border-style: solid;
}
.mainpicture {
    background-color: yellow;
    width: 300px;
    margin: 30px 10px;
}
.mainpicture img {
    width: 300px;
}
h1 {
    color: white;
}
hr {
    border-width: 5px;
    border-color:brown;
}