body {
    font-family: Arial, Helvetica, sans-serif;
}
.wave {
    width: 300px;
    border: thin solid black;
    float: right;
    margin: 10px;
}
.stop {
    clear: ;
}
.place  {
    position: relative;
}
.floatleft {
    float: top;
    border: thin solid black;
    width: 600px;
}