h1 {
    text-align: center;
    background-color: rgb(14, 101, 86);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: rgb(124, 121, 121);

}
span {
    color: #006600
}
header {
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: darkcyan;
}
p {
    font-size: 11pt;
}
#deemphasize {
    color: rgb(92, 211, 112);
    font-style: italic;
}
#emphasize {
    color: red;
    font-weight: bold;
}
.larger {
    font-size: 14pt;
}
dd {
    color: #0077b3;
    font-size: 11pt;
    font-family:cursive;
}
dt {
    font-weight: bold;
}
footer {
    text-align: center;
    background-color: rgb(14, 101, 86);
    color: aliceblue;
    font-size: 10pt;
}