body {
    font-family: Arial, Helvetica, sans-serif;
}
main p {
    color: rgb(21, 31, 150);
}
#second {
    color: rgb(0, 165, 110);
}
.larger {
    font-size: 15pt;
    font-style: italic;
}
.red {
    color: red;
}
.separate {
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FB3;
}